<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-engine}">
<head>
  <title th:text="${#messages.msg('pages.deviceAuthStatus.title.' + result)}"></title>
</head>

<body th:class="${result}">
<th:block layout:fragment="page-heading">
  <h1 th:text="${#messages.msg('pages.deviceAuthStatus.title.' + result)}"></h1>
</th:block>

<th:block layout:fragment="content">
  <p th:text="${#messages.msg('deviceAuthStatus.content.' + result)}"></p>
</th:block>
</body>
</html>
